In [1]:
import pandas as pd
import folium
df = pd.read_csv("../DATA/서울특별시_강서구_보안등정보_20210319_1617002467263_1396924.csv",encoding='cp949')
df = pd.DataFrame(df)

In [7]:
ans = [0,0]
for i in range(len(list(df['설치개수']))) :
    if list(df['설치개수'])[i] == 1 :
        ans[0]+=1
    elif list(df['설치개수'])[i] == 2 :
        ans[1] +=1
print(ans)

[8608, 17]

In [28]:
hjd = []
hjd_set = []
for i in list(df['보안등위치명']):
    a = ''
    for w in range(len(i)) :
        if i[w] != '동':
            a+= i[w]
        else : 
            a+= i[w]
            break
    if '개화근린공원' in a :
        a = '방화동'
    hjd.append(a)
hjd_set = list(set(hjd))
len(hjd_set)

21

In [26]:
for i in hjd_set : 
    if '개화근린공원' in i:
        hjd_set.remove(i)
hjd_set

['화곡2동',
 '방화1동',
 '화곡8동',
 '화곡6동',
 '우장산동',
 '방화2동',
 '등촌1동',
 '등촌3동',
 '가양2동',
 '발산1동',
 '가양3동',
 '공항동',
 '방화3동',
 '화곡1동',
 '화곡본동',
 '화곡4동',
 '등촌2동',
 '염창동',
 '화곡3동',
 '가양1동']

In [21]:
df['행정동'] = hjd
df['행정동']

0       가양1동
1       가양1동
2       가양1동
3       가양1동
4       가양1동
        ...
8620    화곡본동
8621    화곡본동
8622    화곡본동
8623    화곡본동
8624    화곡본동
Name: 행정동, Length: 8625, dtype: object

In [24]:
nu = []
for i in hjd_set :
    n = 0
    for k in hjd :
        if i == k :
            n +=1 
    nu.append(n)
d = pd.DataFrame()
d['hjd'] = hjd_set
d['num'] = nu

d

         hjd  num
0       화곡2동  412
1   개화근린공원37    1
2       방화1동  598
3       화곡8동  542
4       화곡6동  509
5       우장산동  503
6       방화2동  767
7       등촌1동  333
8       등촌3동   78
9       가양2동    9
10      발산1동  307
11      가양3동   33
12       공항동  711
13      방화3동  145
14      화곡1동  993
15      화곡본동  781
16      화곡4동  525
17      등촌2동  412
18       염창동  417
19  개화근린공원36    1
20      화곡3동  318
21      가양1동  230