# 공공 와이파이 분석

## 강서구 공공 와이파이 위치 분석

### a) 데이터 import 후 전처리

In [21]:
#와이파이 데이터의 경우 행정동 정보가 없어, 
#역 geocoding을 gcp의 google map api를 이용해 행정동을 찾으려 함.
import pandas as pd
import folium
import googlemaps

googlemaps_key = 'AIzaSyCfWOzKIjZ2kSQ4qK0_S0VuggIlyOfLUYI'

gmaps = googlemaps.Client(key=googlemaps_key)

df = pd.read_excel("../DATA/서울특별시강서구공공와이파이서비스위치정보.xls",header=1)
df = pd.DataFrame(df)
#분석에 필요한 와이파이의 위도, 경도, 실내외 여부 데이터
df = df[['lnt','lat','x_swifi_inout_door']]

#행정동 기준으로 하기 위해서 고령층 데이터의 행정동 정보를 받아옴
df1 = pd.read_excel('../DATA/서울시 고령층 데이터 2021.xls',header = 1)
df1 = pd.DataFrame(df1)
df1 = df1[df1['자치구']=='강서구']
df1 = df1['동']
df1 = df1.drop([df1.index[0]])

hjd = set(list(df1))

df.head()

         lnt         lat x_swifi_inout_door
0  37.556602  126.850464                 실외
1  37.556910  126.849236                 실외
2  37.564820  126.840440                 실외
3  37.564888  126.840096                 실외
4  37.536827  126.836450                 실외

### b) 역 geocoding을 이용해 행정동 정보 취득

In [37]:
ans  = ['누락'] * len(df)
for lt in range(len(df)):
    x= df['lnt'][lt]
    y= df['lat'][lt]
    r = gmaps.reverse_geocode((x, y), language ='ko')
    for i in r :
        sn = i.get('address_components')
        for k in sn :
            j = k.get('short_name')
            ck = []
            for n in hjd :
                if n == j :
                    ans[lt] = n
    if lt % 100 == 0: 
        print(lt,'/',len(df),'진행')

0 / 1355 진행
100 / 1355 진행
200 / 1355 진행
300 / 1355 진행
400 / 1355 진행
500 / 1355 진행
600 / 1355 진행
700 / 1355 진행
800 / 1355 진행
900 / 1355 진행
1000 / 1355 진행
1100 / 1355 진행
1200 / 1355 진행
1300 / 1355 진행

In [39]:
df['행정동'] = ans
df.head()

         lnt         lat x_swifi_inout_door   행정동
0  37.556602  126.850464                 실외  등촌3동
1  37.556910  126.849236                 실외  등촌3동
2  37.564820  126.840440                 실외  등촌3동
3  37.564888  126.840096                 실외  가양1동
4  37.536827  126.836450                 실외  화곡1동

### c) 행정동별 실내, 실외 와이파이 개수와 전체 와이파이 수

In [42]:
nd = pd.DataFrame()
nd['행정동'] = list(hjd)

hjd_a = []
for i in hjd :
    n = 0
    for k in ans :
        if k == i :
            n+=1
    hjd_a.append(n)

nd['wifi_num'] = hjd_a

In [47]:
nd_o = []
nd_i = []

for a in hjd :
    o = 0
    i = 0
    for z in range(len(df['행정동'])):
        if a == list(df['행정동'])[z] :
            if list(df['x_swifi_inout_door'])[z] == '실외':
                o += 1
            else :
                i += 1
    nd_o.append(o)
    nd_i.append(i)
nd['wo'] = nd_o
nd['wi'] = nd_i

In [48]:
nd

     행정동  wifi_num   wo  wi
0   발산1동        32   28   4
1   방화1동        60   46  14
2   등촌1동        46   34  12
3   우장산동        72   55  17
4   등촌2동        39   35   4
5   화곡3동        48   39   9
6   방화3동        41   27  14
7    공항동        67   56  11
8   화곡본동        51   42   9
9    염창동        63   40  23
10  화곡2동        32   26   6
11  화곡8동        55   49   6
12  화곡4동        52   40  12
13  등촌3동        72   39  33
14  화곡1동        92   78  14
15  가양1동       220  157  63
16  가양2동        47   18  29
17  화곡6동       116   48  68
18  가양3동        48   26  22
19  방화2동        76   47  29